<%
    var data = {
        lang: "en",
        title: "index",
        styles: [
            "./css/main.css"
        ],
        scripts: [
            "./js/main.js",
            "./js/factory_method_pattern.js",
        ]
    };

%>

<!DOCTYPE html>
<html lang="<%= data.lang %>">

    <%- include ../patterns/common/head.ejs %>

    <body>

    <div class="site">
        <a href="/" class="site__back">Back</a>

        <div class="site__title">Factory Method</div>

        <div class="site__description">
            Метод класса который переопределяется в классе наследнике.
        </div>

    </div>

    <%- include ../patterns/common/scripts.ejs %>

    </body>

</html>
